# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/
*.log

# SQLite temporary files
*.db-journal
*.sqlite-journal

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Cache
.cache/